In [2]:
# import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn

In [3]:
# read the us data
us_df = pd.read_csv("db/us_energy.csv")
us_df.head()

,Unnamed: 0,Year,Produced Renewable(Billion Btu),Total Consumed(Billion Btu),GDP(Million dollar),Population(Thousand),Energy Price(dollars in million btu)
0,0,1970,4070021.0,67720114.0,0.0,205052.0,1.65
1,1,1971,4262212.0,69163993.0,0.0,207661.0,1.76
2,2,1972,4382009.0,72677208.0,0.0,209896.0,1.84
3,3,1973,4410938.0,75723857.0,0.0,211909.0,2.02
4,4,1974,4741851.0,73914525.0,0.0,213854.0,2.87