In [2]:
# import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn

In [3]:
# read the us data
us_df = pd.read_csv("db/us_energy.csv")
us_df.head()

,Unnamed: 0,Year,Produced Renewable(Billion Btu),Total Consumed(Billion Btu),GDP(Million dollar),Population(Thousand),Energy Price(dollars in million btu)
0,0,1970,4070021.0,67720114.0,0.0,205052.0,1.65
1,1,1971,4262212.0,69163993.0,0.0,207661.0,1.76
2,2,1972,4382009.0,72677208.0,0.0,209896.0,1.84
3,3,1973,4410938.0,75723857.0,0.0,211909.0,2.02
4,4,1974,4741851.0,73914525.0,0.0,213854.0,2.87

In [4]:
# add the difference column
us_df["Difference"] = us_df["Produced Renewable(Billion Btu)"]-us_df["Total Consumed(Billion Btu)"]
us_df.tail()

,Unnamed: 0,Year,Produced Renewable(Billion Btu),Total Consumed(Billion Btu),GDP(Million dollar),Population(Thousand),Energy Price(dollars in million btu),Difference
43,43,2013,9242048.0,97099401.0,16495400.0,316058.0,21.42,-87857353.0
44,44,2014,9600941.0,98267257.0,16899800.0,318386.0,21.33,-88666316.0
45,45,2015,9565096.0,97364113.0,17386700.0,320743.0,17.30,-87799017.0
46,46,2016,10225357.0,97230097.0,17659200.0,323071.0,15.94,-87004740.0
47,47,2017,11094237.0,97621515.0,18050700.0,325147.0,17.30,-86527278.0